.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

*,*:before,*:after{box-sizing: border-box;}
body,main,h1,h2,p,section{margin: 0;}
html,input{font: 16px 'Poppins', sans-serif;}
a{text-decoration: none;color: hsl(0, 100%, 74%) ;}

:root{
  --clr-primary-green: hsl(154, 59%, 51%);
  --clr-accent-blue: hsl(248, 32%, 49%);
  --clr-neutral-dark_blue: hsl(249, 10%, 26%);
  --clr-neutral-gray_blue: hsl(246, 25%, 77%);
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* my styles */
body{
  background-image: url(../images/bg-intro-mobile.png);
  background-color: hsl(0, 100%, 74%);
  background-blend-mode:normal;
  min-width: 350px;
}

.signup{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4.1em;
  padding: 6em 1.5em;
}

.signup .discription{
  color: white;
}

.signup .discription h1{
  font-size: 1.8rem;
  margin-bottom: 0.8em;
  line-height: 2.1rem;
}

.signup .discription p{
  line-height: 1.6;
}

.signup .details > div:first-of-type{
  background-color: var(--clr-accent-blue);
  padding: 1.1em 4em;
  margin-bottom: 1.6em;
  border-radius: 10px;
}

.signup .details h1{
  color: white;
  font-weight: var(--fw-regular);
  font-size: 1rem;
  line-height: 1.7;
}

.signup .details form{
  background-color: white;
  padding: 1.4em 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

form input{
  color: hsl(249, 10%, 10%);
  font-weight: var(--fw-semibold);
  padding: 1em 1em;
  border: 1px solid hsl(246, 25%, 87%);
  border-radius: 5px;
  width: 100%;
}

.input-warning{
  border-color: hsl(0, 77%, 48%);
}

.warning{
  font-size: 0.7rem;
  text-align: right;
  color: hsl(0, 77%, 48%);
  font-style: italic;
  height: 0px;
  overflow: hidden;
}

.warning.on{
  overflow: visible;
  height: auto;
  border-color: hsl(0, 77%, 48%);
}

.signup .details form input[type=submit]{
  background-color: var(--clr-primary-green);
  border-color: hsl(154, 59%, 44%);
  box-shadow: 0px 3px hsl(154, 59%, 44%);
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.05rem;
  width: 100%;
  margin-bottom: 1em;
  font-weight: var(--fw-semibold);
}

.terms{
  color: var(--clr-neutral-gray_blue);
  font-size: 0.7rem;
}

.signup .details a{
  font-weight: var(--fw-bold);
}

.shadow{
  box-shadow: 0px 8px  rgba(0,0,0,0.12);
}

@media (min-width: 750px){
  body{
    background-image: url(../images/bg-intro-desktop.png);
  }

  .signup{
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4.1em;
    padding: 4.5em 2em;
    margin: 0 auto;
    max-width: 75em;
  }
  .discription{
    text-align: left;
    width: 50%;
  }

  .signup .discription h1{
    font-size: 3.2rem;
    line-height: 1;
  }

  .signup .details{
    width: 50%;;
  }

  .signup .details form{
    padding: 3em 2.2em;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
  }
}